/*´PSEUDOCLASE*/
a:hover{font-size:20px; background-color: rgba(255, 255, 255, 0.705);}
a{text-decoration: none; transition: all .5s; border-radius:10px;}

header{
    background-image: url(../img/nav2.png);
    display: flex;
}
nav{
    font-family: Rubik; 
    font-size: smaller;
}
.datosP{
    font-family: 'Rubik';
    display: inline;
}
.cajaContacto{
    background-color:rgb(255, 243, 228);
    padding: 30px;
}
.ubicacion{
    background-color:rgb(255, 243, 228);
    padding: 5px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 30px;
}
@font-face {
    font-family: "Gloock";
    src: url(../fonts/Gloock-Regular.ttf);
}
h1{
    font-family: 'Gloock';
    padding: 15px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.tituloColeccion{
    background-color: rgb(255, 243, 228);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
*{
    font-weight: lighter;
}
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubikfont.ttf);
}
li, h2, h3, h4{
    font-family: 'Rubik';
}
.metodosDePago, .preguntasFrecuentes{
    background-color:rgb(235, 232, 232); padding: 15px;
}
li{
    font-size: larger;
    display: inline;
    padding: 5px 0 5px 120px;
}
.sticky{
    position: sticky;
}
.IndexProductos{
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
}
.preciosFila{
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
}
footer{
    display: grid;
    background-color: rgb(245, 244, 243);
    margin-top: 20px;
}
.rrss, .DAutor, .followUs{
    display: flex;
    justify-content: center;
}
/***GRID***/
.gridSc{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    main{grid-area: main;}
    footer{grid-area: footer;}
.gridPago{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    main{grid-area: main;}
    footer{grid-area: footer;
    }
.gridPF{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    main{grid-area: main;}
    footer{grid-area: footer;
    }
/* MOBILE */
@media (max-width:768px)
{
    ul{display: flex;flex-direction: row; justify-content: center;padding-left:0;}
    li{padding:2px;margin:2px;}
    .productos{width: 10px; height: 10px;}
    footer, header{display:flex;flex-direction: column;align-items: center;}
    nav{background-color: rgba(248, 220, 220, 0.938); margin: 15px;}
    ul{padding: 5px;}
    h1{margin-top: 100px;}
    .ubicacion{font-size: 15px;}
    .cajaContacto{margin-top: 40px; padding: 15px;}
    .imgIndex{width:100px;height: 100px;}
    .gridContacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 170px auto auto;
        grid-template-areas:
        "header header"
        "title title"
        "section3 section3"
        "section4 section4"
        "footer footer"
        ;
    }
        header{grid-area: header;}
        h1{grid-area: title;}
       .section3{grid-area: section3;}
       .section4{grid-area: section4;}
        footer{grid-area: footer;}
    .gridHome{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 100px auto auto auto auto auto auto auto;
        grid-template-areas: 
        "header"
        "section"
        "imgIndex1"
        "imgIndex2"
        "imgIndex3"
        "footer"
        ;
    }
        header{grid-area: header;}
        section{grid-area: section;}
        .imgIndex1{grid-area: imgIndex1;}
        .imgIndex2{grid-area: imgIndex2;}
        .imgIndex3{grid-area: imgIndex3;}
        footer{grid-area: footer;}
}
/* DESKTOP */
@media (min-width: 800px) {
    .imgIndex{width:300px;height: 300px;}
    .gridContacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 130px auto auto;
        grid-template-areas:
        "header header"
        "title title"
        "section1 section2"
        "footer footer"
        ;
    }
        header{grid-area: header;}
        .h1Contacto{grid-area: title;}
       .section1{grid-area: section1;}
       .section2{grid-area: section2;}
        footer{grid-area: footer;}
    .gridHome{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 100px auto auto auto auto auto auto auto;
        grid-template-areas: 
        "header"
        "section"
        "imgIndex1"
        "imgIndex2"
        "imgIndex3"
        "footer"
        ;
    }
        header{grid-area: header;}
        section{grid-area: section;}
        .imgIndex1{grid-area: imgIndex1;}
        .imgIndex2{grid-area: imgIndex2;}
        .imgIndex3{grid-area: imgIndex3;}
        footer{grid-area: footer;}
}